

h1 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #333;
    text-align: justify;
}

#book-container {
    display: flex;
    flex-wrap: nowrap;
    height: 130vh;;
}

.book-card {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: left;
    border: 1px solid black;
    width: 20%;
    height: 20%;  
    border-radius: 8px;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
}

button {
    width: 10vh; ;
    height: 10%; ;
    margin: 10px;
    border-radius: 8px;
}
.read-status-btn {
    color: black;
    border: none;
    cursor: pointer;
}

input {
    width: 80%;
    height: 10%;
    margin: 10px;
    font-size: 20px;
    border-radius: 8px;
    text-align: right;

}
